*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #F8CED8;
}
header h1{
    text-align: center;
}
nav ul{
    display: flex;
    justify-content: center;

}
nav ul li{
    list-style: none;
    margin: 1rem;
    padding: 0.3rem;
    border-radius: 1rem;
    background-color: whitesmoke;
}
.mainNosotros{
    height: 80vh;
    display: grid;
    grid-template-areas: "mainP mainP"
                        "imagen1 imagen2"
                        "imagen3 imagen4"
                        "parrafo parrafo";
    justify-content: center;
}
.sectionNosotros{
    display: none;
}
.mainP{
    grid-area: mainP;
    text-align: center;
}
.imagen1{
    grid-area: imagen1;
}
.imagen2{
    grid-area: imagen2;
}
.imagen3{
    grid-area: imagen3;
}
.imagen4{
    grid-area: imagen4;
}
.parrafo{
    grid-area: parrafo;
    text-align: center;
}
footer p{
    text-align: center;
}

/*nav ul li:hover{
    
    background-color: black;
    
    transform: scale(1.2);
    box-shadow: 2px 2px black;
}
trabsformaciones img

img:hover{
    transform: scale(1.5);
}

img{
    transition: 1s;
}

ANIMACIONES
ES UN EFECTO QUE LOOPEA LAS VECES QUE NOSOTROS QUERRAMOS
vamos a usar @keyframes el_efecto{
    la linea de tiempo, que puede ser en porcentaje o en segundos y luego
    section{   o donde apliquemos el keyframes y las animaciones, delay, repeats, etc*/


.imgLuna{
    width: 60%;
    animation-name: girar;
    animation-iteration-count: infinite;
    animation-duration: 120s;
}

@keyframes girar{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}






/* media query*/
@media only screen and (min-width:600px){
    .mainNosotros{
        height: 80vh;
        display: grid;
        grid-template-areas: "mainP mainP mainP mainP"
                            "img img img img"
                            "imagen1 imagen2 imagen3 imagen4"
                            "parrafo parrafo parrafo parrafo";
        justify-content: center;
    }
    .sectionNosotros{
        display: block;
        grid-area: img;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mainP, .parrafo{
        font-size: 1.3rem ;
    }
    .imagen1, .imagen2, .imagen3, .imagen4{
        padding: 1rem;
    }
}
@media only screen and (min-width:1024px){
    .mainNosotros{
        height: 80vh;
        display: grid;
        grid-template-areas: "mainP mainP img img"
                                "imagen1 imagen2 imagen3 imagen4"
                                "parrafo parrafo parrafo parrafo";
        justify-content: center;
        align-items: center;
        }
}